In [12]:
import numpy as np
import pandas as pd
# 假設你的 CSV 檔案名稱為 "data.csv"
pd.read_csv('world.csv')

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
0,1,AFG,亞洲,阿富汗,2020-02-24,5,5,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
1,2,AFG,亞洲,阿富汗,2020-02-25,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
2,3,AFG,亞洲,阿富汗,2020-02-26,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
3,4,AFG,亞洲,阿富汗,2020-02-27,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
4,5,AFG,亞洲,阿富汗,2020-02-28,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187880,187881,ZWE,非洲,辛巴威,2022-07-02,255586,0,39.571,5555,0,...,6190.0,79.41,41.81,0.00,15092171,19.6,1.882,61.49,0,99999.0
187881,187882,ZWE,非洲,辛巴威,2022-07-03,255586,0,33.000,5555,0,...,8710.0,79.55,41.86,0.00,15092171,19.6,1.882,61.49,0,99999.0
187882,187883,ZWE,非洲,辛巴威,2022-07-04,255726,140,49.000,5558,3,...,10797.0,79.67,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187883,187884,ZWE,非洲,辛巴威,2022-07-05,255755,29,53.143,5558,0,...,10821.0,79.68,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187884,187885,ZWE,非洲,辛巴威,2022-07-06,255805,50,40.714,5560,2,...,0.0,0.00,0.00,0.00,15092171,19.6,1.882,61.49,0,99999.0

In [ ]:
import numpy as np
import pandas as pd
# 假設你的 CSV 檔案名稱為 "world.csv"
df = pd.read_csv('world.csv',index_col='國家',usecols=['國家','日期','總確診數','新增確診數','新增死亡數'])
mask = df.index =="台灣"
taiwan = df[mask]
taiwan

            日期     總確診數  新增確診數  新增死亡數
國家
台灣  2020-01-16        0      0      0
台灣  2020-01-17        0      0      0
台灣  2020-01-18        0      0      0
台灣  2020-01-19        0      0      0
台灣  2020-01-20        0      0      0
..         ...      ...    ...    ...
台灣  2022-07-02  3837856  34807     96
台灣  2022-07-03  3870528  32672     88
台灣  2022-07-04  3893643  23115     69
台灣  2022-07-05  3929627  35984    103
台灣  2022-07-06  3964188  34561     95

[903 rows x 4 columns]

In [17]:
taiwan[taiwan['新增死亡數'] >= 100]

            日期     總確診數  新增確診數  新增死亡數
國家
台灣  2022-05-26  1640271  81891    104
台灣  2022-05-27  1735067  94796    126
台灣  2022-05-28  1815703  80636    163
台灣  2022-05-29  1892272  76569    109
台灣  2022-05-30  1952355  60083    109
台灣  2022-06-01  2121231  88248    122
台灣  2022-06-02  2198161  76930    144
台灣  2022-06-03  2274666  76505    142
台灣  2022-06-05  2404871  62077    276
台灣  2022-06-06  2457881  53010    151
台灣  2022-06-07  2540871  82990    124
台灣  2022-06-08  2620941  80070    159
台灣  2022-06-09  2693787  72846    211
台灣  2022-06-10  2762080  68293    213
台灣  2022-06-11  2841696  79616    211
台灣  2022-06-12  2892263  50567    163
台灣  2022-06-13  2937363  45100    109
台灣  2022-06-14  3003501  66138    123
台灣  2022-06-15  3072432  68931    143
台灣  2022-06-16  3135565  63133    168
台灣  2022-06-17  3190787  55222    154
台灣  2022-06-18  3244453  53666    181
台灣  2022-06-19  3295076  50623    172
台灣  2022-06-20  3330695  35619    144
台灣  2022-06-21  3387061  56366    115
台灣  2022-06-22  3439279  52218    171
台灣  2022-06-23  3487599  48320    166
台灣  2022-06-24  3533335  45736    152
台灣  2022-06-25  3573703  40368    151
台灣  2022-06-26  3613345  39642    134
台灣  2022-06-28  3686338  44417    103
台灣  2022-06-30  3767283  38920    118
台灣  2022-07-01  3803049  35766    121
台灣  2022-07-05  3929627  35984    103