###看老師的連結即可

In [8]:
import numpy as np

np.random.seed(567)
scores = np.random.randint(50, 101, size=(50, 5))
scores

array([[ 53,  97,  72,  94,  55],
       [ 59,  66,  94,  83,  60],
       [ 58,  76,  90,  99,  64],
       [ 55,  83,  87,  76,  67],
       [ 75,  84,  95,  68,  84],
       [ 64,  64,  95,  66,  68],
       [ 55,  62,  99,  57,  78],
       [ 59,  66,  77,  59,  95],
       [ 84,  76,  96,  85,  50],
       [ 71,  68,  92,  67,  93],
       [ 83,  55,  95,  62,  93],
       [ 62,  71,  56,  50,  75],
       [ 72,  94,  53,  94,  99],
       [ 67, 100,  50,  85,  99],
       [ 92,  60,  77,  59,  58],
       [ 94,  90,  64,  57, 100],
       [ 99,  99,  79,  99,  86],
       [ 67,  74,  95,  65,  73],
       [ 66,  91,  56,  59,  80],
       [ 56,  67,  79,  79,  52],
       [ 51,  91,  70,  65,  92],
       [ 91,  77,  96,  83,  74],
       [ 57,  89,  84,  57,  69],
       [ 57,  67,  89,  97,  59],
       [ 95,  69,  54,  56,  51],
       [ 87,  64,  90,  68,  65],
       [ 58,  53,  63,  82,  51],
       [ 86,  72,  64,  51,  80],
       [ 91,  94,  56,  72,  98],
       [ 55,  86,  67,  74,  82],
       [ 71,  99,  85,  51,  50],
       [ 84,  91,  91,  74,  53],
       [ 59,  62,  88,  50,  52],
       [ 80,  64,  97,  55,  71],
       [ 75,  68,  52,  97,  81],
       [ 78,  55,  50,  73,  73],
       [ 97,  52,  65,  81,  74],
       [100,  83,  52,  83,  88],
       [ 63,  79,  61,  93,  84],
       [ 65,  55,  77,  55,  88],
       [ 69,  64,  93,  50,  58],
       [ 78,  53,  90,  87,  61],
       [ 56,  61,  69,  99,  65],
       [ 99, 100,  73,  99,  79],
       [ 74,  83,  76,  91,  50],
       [ 86,  87,  51,  66,  77],
       [ 90,  93,  63,  57,  75],
       [ 82,  54,  62,  75,  88],
       [ 95,  93,  75,  89,  95],
       [ 61,  91,  61,  59,  94]], dtype=int32)

In [ ]:
import pandas as pd

pd.DataFrame(scores,columns=["國文", "英文", "數學", "生物", "物理"],index=[f"學生{x}" for x in range(1,51)])

pandas.core.frame.DataFrame

In [29]:
df.columns.name = "科目"
df.index.name = "姓名"
df

科目     國文   英文  數學  生物   物理
姓名
學生1    53   97  72  94   55
學生2    59   66  94  83   60
學生3    58   76  90  99   64
學生4    55   83  87  76   67
學生5    75   84  95  68   84
學生6    64   64  95  66   68
學生7    55   62  99  57   78
學生8    59   66  77  59   95
學生9    84   76  96  85   50
學生10   71   68  92  67   93
學生11   83   55  95  62   93
學生12   62   71  56  50   75
學生13   72   94  53  94   99
學生14   67  100  50  85   99
學生15   92   60  77  59   58
學生16   94   90  64  57  100
學生17   99   99  79  99   86
學生18   67   74  95  65   73
學生19   66   91  56  59   80
學生20   56   67  79  79   52
學生21   51   91  70  65   92
學生22   91   77  96  83   74
學生23   57   89  84  57   69
學生24   57   67  89  97   59
學生25   95   69  54  56   51
學生26   87   64  90  68   65
學生27   58   53  63  82   51
學生28   86   72  64  51   80
學生29   91   94  56  72   98
學生30   55   86  67  74   82
學生31   71   99  85  51   50
學生32   84   91  91  74   53
學生33   59   62  88  50   52
學生34   80   64  97  55   71
學生35   75   68  52  97   81
學生36   78   55  50  73   73
學生37   97   52  65  81   74
學生38  100   83  52  83   88
學生39   63   79  61  93   84
學生40   65   55  77  55   88
學生41   69   64  93  50   58
學生42   78   53  90  87   61
學生43   56   61  69  99   65
學生44   99  100  73  99   79
學生45   74   83  76  91   50
學生46   86   87  51  66   77
學生47   90   93  63  57   75
學生48   82   54  62  75   88
學生49   95   93  75  89   95
學生50   61   91  61  59   94

In [28]:
df['國文']

姓名
學生1      53
學生2      59
學生3      58
學生4      55
學生5      75
學生6      64
學生7      55
學生8      59
學生9      84
學生10     71
學生11     83
學生12     62
學生13     72
學生14     67
學生15     92
學生16     94
學生17     99
學生18     67
學生19     66
學生20     56
學生21     51
學生22     91
學生23     57
學生24     57
學生25     95
學生26     87
學生27     58
學生28     86
學生29     91
學生30     55
學生31     71
學生32     84
學生33     59
學生34     80
學生35     75
學生36     78
學生37     97
學生38    100
學生39     63
學生40     65
學生41     69
學生42     78
學生43     56
學生44     99
學生45     74
學生46     86
學生47     90
學生48     82
學生49     95
學生50     61
Name: 國文, dtype: int32

In [39]:
sum_series = df['國文'] + df['英文'] + df['數學'] + df['生物'] + df['物理']
average_series = sum_series/5
average_series

姓名
學生1     74.2
學生2     72.4
學生3     77.4
學生4     73.6
學生5     81.2
學生6     71.4
學生7     70.2
學生8     71.2
學生9     78.2
學生10    78.2
學生11    77.6
學生12    62.8
學生13    82.4
學生14    80.2
學生15    69.2
學生16    81.0
學生17    92.4
學生18    74.8
學生19    70.4
學生20    66.6
學生21    73.8
學生22    84.2
學生23    71.2
學生24    73.8
學生25    65.0
學生26    74.8
學生27    61.4
學生28    70.6
學生29    82.2
學生30    72.8
學生31    71.2
學生32    78.6
學生33    62.2
學生34    73.4
學生35    74.6
學生36    65.8
學生37    73.8
學生38    81.2
學生39    76.0
學生40    68.0
學生41    66.8
學生42    73.8
學生43    70.0
學生44    90.0
學生45    74.8
學生46    73.4
學生47    75.6
學生48    72.2
學生49    89.4
學生50    73.2
dtype: float64

In [40]:
df['總分'] = sum_series
df['平均'] = average_series
df

科目     國文   英文  數學  生物   物理   總分    平均
姓名
學生1    53   97  72  94   55  371  74.2
學生2    59   66  94  83   60  362  72.4
學生3    58   76  90  99   64  387  77.4
學生4    55   83  87  76   67  368  73.6
學生5    75   84  95  68   84  406  81.2
學生6    64   64  95  66   68  357  71.4
學生7    55   62  99  57   78  351  70.2
學生8    59   66  77  59   95  356  71.2
學生9    84   76  96  85   50  391  78.2
學生10   71   68  92  67   93  391  78.2
學生11   83   55  95  62   93  388  77.6
學生12   62   71  56  50   75  314  62.8
學生13   72   94  53  94   99  412  82.4
學生14   67  100  50  85   99  401  80.2
學生15   92   60  77  59   58  346  69.2
學生16   94   90  64  57  100  405  81.0
學生17   99   99  79  99   86  462  92.4
學生18   67   74  95  65   73  374  74.8
學生19   66   91  56  59   80  352  70.4
學生20   56   67  79  79   52  333  66.6
學生21   51   91  70  65   92  369  73.8
學生22   91   77  96  83   74  421  84.2
學生23   57   89  84  57   69  356  71.2
學生24   57   67  89  97   59  369  73.8
學生25   95   69  54  56   51  325  65.0
學生26   87   64  90  68   65  374  74.8
學生27   58   53  63  82   51  307  61.4
學生28   86   72  64  51   80  353  70.6
學生29   91   94  56  72   98  411  82.2
學生30   55   86  67  74   82  364  72.8
學生31   71   99  85  51   50  356  71.2
學生32   84   91  91  74   53  393  78.6
學生33   59   62  88  50   52  311  62.2
學生34   80   64  97  55   71  367  73.4
學生35   75   68  52  97   81  373  74.6
學生36   78   55  50  73   73  329  65.8
學生37   97   52  65  81   74  369  73.8
學生38  100   83  52  83   88  406  81.2
學生39   63   79  61  93   84  380  76.0
學生40   65   55  77  55   88  340  68.0
學生41   69   64  93  50   58  334  66.8
學生42   78   53  90  87   61  369  73.8
學生43   56   61  69  99   65  350  70.0
學生44   99  100  73  99   79  450  90.0
學生45   74   83  76  91   50  374  74.8
學生46   86   87  51  66   77  367  73.4
學生47   90   93  63  57   75  378  75.6
學生48   82   54  62  75   88  361  72.2
學生49   95   93  75  89   95  447  89.4
學生50   61   91  61  59   94  366  73.2

In [16]:
[x**2 for x in range(10) if x <4]

[0, 1, 4, 9]